extends layout

block page
    - var menu = 'index'
    
block content
if (profiles.length === 0)
    | No profiles to display
    a(href='/login') Login to create a profiles
else
    each profile, index in profiles
        div
            h2
                a(href='/profiles/#(profile.slug)') = profile.title